---
interface Props {
    title: string;
    company: string;
    startDate: string;
    endDate: string;
}

const { title, company, startDate, endDate } = Astro.props;
---

<div class="flex flex-col ps-4 pe-2 pt-4 border-t-2 border-background-500">
    <span class="font-body font-medium text-xl text-color-body">
        {title}
    </span>
    <span class="font-body text-color-body">
        {company}
    </span>
    <span class="font-body mt-2 text-color-body">
        {startDate} &ndash; {endDate}
    </span>
</div>
<div
    class:list={[
        "md:col-span-2 flex flex-col",
        "md:border-t-2 border-background-500",
        "px-4 pt-5 mb-12 gap-y-2",
    ]}
>
    <div class="prose dark:prose-invert prose-text ott-prose">
        <slot name="description">
            <p>Work description</p>
        </slot>
    </div>
    <div
        class:list={[
            "flex flex-wrap gap-2",
            "text-color-body",
            "[&>span]:border [&>span]:border-dashed [&>span]:px-2 [&>span]:py-1",
            "[&>span]:border-text-700/80 [&>span]:dark:border-text-300/80",
        ]}
    >
        <slot name="techStack">
            <p>Frameworks</p>
        </slot>
    </div>
</div>
