---
import MainLayout from "../layouts/MainLayout.astro";
import BussinessCardAdaptive from "../components/bussiness_card/BussinessCardAdaptive.astro";
---

<MainLayout>
    <div class="flex flex-col justify-center items-center">
        <div class="flex w-full px-4">
            <BussinessCardAdaptive />
        </div>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
    </div>
</MainLayout>
