---
import MainLayout from "../layouts/MainLayout.astro";
import BussinessCardFull from "../components/bussiness_card/BussinessCardFull.astro";
import BussinessCardSmall from "../components/bussiness_card/BussinessCardSmall.astro";
---

<MainLayout>
    <!-- Hero Section -->
    <section class="max-w-lg mx-auto">
        <div
            class="min-h-[64vh] flex flex-col md:flex-row justify-center items-center gap-6 p-8"
        >
            <div class="flex flex-row justify-center md:justify-end">
                <div
                    class="flex min-[377px]:hidden min-[640px]:max-[720px]:flex"
                >
                    <BussinessCardSmall />
                </div>
                <div
                    class="hidden min-[377px]:flex min-[640px]:max-[720px]:hidden"
                >
                    <BussinessCardFull />
                </div>
            </div>
            <div
                class="flex flex-col justify-center items-center md:items-start gap-y-6"
            >
                <div class="ott-typography">
                    <ul class="flex flex-col gap-y-2">
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-map-pinned-icon lucide-map-pinned"
                                ><path
                                    d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"
                                ></path><circle cx="12" cy="8" r="2"
                                ></circle><path
                                    d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"
                                ></path></svg
                            >
                            <span>Metro Manila, Philippines</span>
                        </li>
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-graduation-cap-icon lucide-graduation-cap"
                                ><path
                                    d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
                                ></path>
                                <path d="M22 10v6"></path>
                                <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path>
                            </svg>
                            <span>BS Computer Science</span>
                        </li>
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-briefcase-business-icon lucide-briefcase-business"
                                ><path d="M12 12h.01"></path><path
                                    d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"
                                ></path><path d="M22 13a18.15 18.15 0 0 1-20 0"
                                ></path><rect
                                    width="20"
                                    height="14"
                                    x="2"
                                    y="6"
                                    rx="2"></rect></svg
                            >
                            <span>Full Stack Developer</span>
                        </li>
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-history-icon lucide-history"
                                ><path
                                    d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"
                                ></path><path d="M3 3v5h5"></path><path
                                    d="M12 7v5l4 2"></path></svg
                            >
                            <span>2 years</span>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-row">
                    <button
                        class:list={[
                            "border-2 cursor-pointer select-none",
                            "border-text-600 bg-text-600",
                            "hover:border-text-700 hover:bg-text-700",
                            "transition-colors",
                        ]}
                    >
                        <div
                            class="px-3 py-2 flex flex-row items-center gap-x-1"
                        >
                            <span class="text-text-50"> Resume </span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-external-link-icon lucide-external-link stroke-text-50"
                                ><path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path
                                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                                ></path>
                            </svg>
                        </div>
                    </button>
                    <button
                        class:list={[
                            "group border-2 border-s-0 cursor-pointer",
                            "border-text-600",
                            "hover:border-text-700 hover:bg-text-700",
                            "transition-colors",
                        ]}
                    >
                        <div
                            class="px-3 py-2 flex flex-row items-center gap-x-1"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-download-icon lucide-download stroke-text-600 dark:stroke-text-400 group-hover:stroke-text-50"
                                ><path d="M12 15V3"></path>
                                <path
                                    d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                                >
                                </path><path d="m7 10 5 5 5-5"></path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
    </div>
</MainLayout>
