<div
    class:list={[
        "w-[377px] h-[233px] px-6 py-5 select-none",
        "bg-background-50 dark:bg-background-800",
        "shadow-lg hover:shadow-xl hover:scale-110",
        "transition-all duration-200 **:transition-colors **:duration-200",
    ]}
>
    <div class="size-full flex flex-col">
        <div class="grow flex flex-col items-center justify-center">
            <span
                class:list={[
                    "text-text-800 dark:text-text-200",
                    "text-5xl font-display font-semibold",
                ]}
            >
                Regis Orate
            </span>
            <span
                class:list={[
                    "text-text-700 dark:text-text-200",
                    "text-3xl font-header font-medium",
                ]}
            >
                Software Developer
            </span>
        </div>
        <div class="grid grid-cols-2">
            <div class="flex flex-row justify-start">
                <a
                    href="https://www.ottsupi.dev"
                    target="_blank"
                    class:list={[
                        "w-fit",
                        "text-text-700 dark:text-text-300",
                        "hover:text-accent-600 hover:dark:text-accent-400",
                        "text-base font-body",
                    ]}
                >
                    www.ottsupi.dev
                </a>
            </div>
            <div class="flex flex-row justify-end">
                <a
                    href="mailto:email@ottsupi.dev"
                    target="_blank"
                    class:list={[
                        "w-fit",
                        "text-text-700 dark:text-text-300",
                        "hover:text-accent-600 hover:dark:text-accent-400",
                        "text-base font-body",
                    ]}
                >
                    email@ottsupi.dev
                </a>
            </div>
            <div class="flex flex-row justify-start">
                <a
                    href="https://github.com/ottsupi"
                    target="_blank"
                    class:list={[
                        "w-fit",
                        "text-text-700 dark:text-text-300",
                        "hover:text-accent-600 hover:dark:text-accent-400",
                        "text-base font-body",
                    ]}
                >
                    github.com/ottsupi
                </a>
            </div>
            <div class="flex flex-row justify-end">
                <a
                    href="https://linkedin.ottsupi.dev"
                    target="_blank"
                    class:list={[
                        "w-fit",
                        "text-text-700 dark:text-text-300",
                        "hover:text-accent-600 hover:dark:text-accent-400",
                        "text-base font-body",
                    ]}
                >
                    linkedin.ottsupi.dev
                </a>
            </div>
        </div>
    </div>
</div>
