---
import ThemeIcon from "../ThemeIcon.astro";
---

<ul class="grid grid-cols-6 group/navbar">
    <li
        class:list={[
            "group/navitem",
            "border-b-2 border-e-2",
            "border-background-300 dark:border-background-700",
            "group-hover/navbar:border-background-400 dark:group-hover/navitem:border-background-600",
            "hover:border-b-accent-500",
            "transition-colors",
        ]}
    >
        <div
            class="size-full flex justify-center items-center p-3 cursor-pointer"
        >
            <span
                class:list={[
                    "text-xl font-mono font-medium uppercase select-none",
                    "text-background-400 dark:text-background-600",
                    "group-hover/navbar:text-background-500",
                    "group-hover/navitem:text-accent-500",
                    "transition-colors",
                ]}
            >
                Home
            </span>
        </div>
    </li>
    <li
        class:list={[
            "group/navitem",
            "border-b-2 border-e-2",
            "border-background-300 dark:border-background-700",
            "group-hover/navbar:border-background-400 dark:group-hover/navitem:border-background-600",
            "hover:border-b-accent-500",
            "transition-colors",
        ]}
    >
        <div
            class="size-full flex justify-center items-center p-3 cursor-pointer"
        >
            <span
                class:list={[
                    "text-xl font-mono font-medium uppercase select-none",
                    "text-background-400 dark:text-background-600",
                    "group-hover/navbar:text-background-500",
                    "group-hover/navitem:text-accent-500",
                    "transition-colors",
                ]}
            >
                Blog
            </span>
        </div>
    </li>
    <li
        class:list={[
            "col-span-2 group/navitem",
            "border-b-2",
            "border-background-300 dark:border-background-700",
            "group-hover/navbar:border-background-400 dark:group-hover/navitem:border-background-600",
            "hover:border-b-accent-500",
            "transition-colors",
        ]}
    >
        <div
            class="size-full flex justify-center items-center p-3 cursor-pointer"
        >
            <span
                class:list={[
                    "text-xl font-mono font-medium uppercase select-none",
                    "text-background-400 dark:text-background-600",
                    "group-hover/navbar:text-background-500",
                    "group-hover/navitem:text-accent-500",
                    "transition-colors",
                ]}
            >
                ottsupi.dev
            </span>
        </div>
    </li>
    <li
        class:list={[
            "group/navitem",
            "border-b-2 border-s-2",
            "border-background-300 dark:border-background-700",
            "group-hover/navbar:border-background-400 dark:group-hover/navitem:border-background-600",
            "hover:border-b-accent-500",
            "transition-colors",
        ]}
    >
        <div
            class="size-full flex justify-center items-center p-3 cursor-pointer"
        >
            <span
                class:list={[
                    "text-xl font-mono font-medium uppercase select-none",
                    "text-background-400 dark:text-background-600",
                    "group-hover/navbar:text-background-500",
                    "group-hover/navitem:text-accent-500",
                    "transition-colors",
                ]}
            >
                Resume
            </span>
        </div>
    </li>
    <li
        class:list={[
            "group/navitem",
            "border-b-2 border-s-2",
            "border-background-300 dark:border-background-700",
            "group-hover/navbar:border-background-400 dark:group-hover/navitem:border-background-600",
            "hover:border-b-accent-500",
            "transition-colors",
        ]}
    >
        <button
            class="size-full flex justify-center items-center p-3 cursor-pointer"
            x-on:click="switchTheme()"
        >
            <span
                class:list={[
                    "select-none",
                    "text-background-400 dark:text-background-600",
                    "group-hover/navbar:text-background-500",
                    "group-hover/navitem:text-accent-500",
                    "transition-colors",
                ]}
            >
                <ThemeIcon />
            </span>
        </button>
    </li>
</ul>
