---
import ThemeIcon from "../ThemeIcon.astro";
---

<ul class="grid grid-cols-6">
    <li class="border-b-2 border-e-2 border-background-400">
        <div class="size-full flex justify-center items-center p-3">
            <span class="text-background-500">
                <span
                    class="text-xl font-mono font-medium uppercase select-none"
                >
                    Home
                </span>
            </span>
        </div>
    </li>
    <li class="border-b-2 border-e-2 border-background-400">
        <div class="size-full flex justify-center items-center p-3">
            <span class="text-background-500">
                <span
                    class="text-xl font-mono font-medium uppercase select-none"
                >
                    Blog
                </span>
            </span>
        </div>
    </li>
    <li class="col-span-2 border-b-2 border-background-400">
        <div class="size-full flex justify-center items-center p-3">
            <span class="text-background-500">
                <span
                    class="text-xl font-mono font-medium uppercase select-none"
                >
                    ottsupi.dev
                </span>
            </span>
        </div>
    </li>
    <li class="border-b-2 border-s-2 border-background-400">
        <div class="size-full flex justify-center items-center p-3">
            <span class="text-background-500">
                <span
                    class="text-xl font-mono font-medium uppercase select-none"
                >
                    Resume
                </span>
            </span>
        </div>
    </li>
    <li class="border-b-2 border-s-2 border-background-400">
        <button
            class="size-full flex justify-center items-center p-3"
            x-on:click="switchTheme()"
        >
            <span class="text-background-500">
                <span class="select-none">
                    <ThemeIcon />
                </span>
            </span>
        </button>
    </li>
</ul>
