---
import NavBarFull from "./NavBarFull.astro";
import NavBarMobile from "./NavBarMobile.astro";
---

<nav
    class:list={[
        "fixed w-full",
        "max-md:bg-background-100  max-md:dark:bg-background-900",
        "bg-background-100/40 dark:bg-background-900/40",
        "hover:bg-background-100 dark:hover:bg-background-900",
        "backdrop-blur-lg transition-all duration-300",
    ]}
    x-bind:class="[ isNavVisible ? 'top-0' : 'top-[-4rem]' ]"
    x-data="{
        lastScrollPosition: window.pageYOffset,
        isNavVisible: true,
        isMobileNavMenuOpen: false,
        scrollHandler() {
            const currentScrollPosition = window.pageYOffset;
            if (currentScrollPosition == 0) {
                this.isNavVisible = true;
            } else if (currentScrollPosition < this.lastScrollPosition) {
                this.isNavVisible = true;
            } else if (currentScrollPosition > this.lastScrollPosition) {
                this.isNavVisible = false;
            }
            // Close mobile nav menu on scroll
            this.isMobileNavMenuOpen = false;
            this.lastScrollPosition = currentScrollPosition;
        }
    }"
    x-on:scroll.window="scrollHandler()"
>
    <div class="block md:hidden mx-auto px-4 max-w-md">
        <NavBarMobile />
    </div>
    <div class="hidden md:block mx-auto px-4 max-w-lg">
        <NavBarFull />
    </div>
</nav>
