---
import NavBarFull from "./NavBarFull.astro";
import NavBarMobile from "./NavBarMobile.astro";
---

<nav>
    <div class="block md:hidden mx-auto px-4 max-w-md">
        <NavBarMobile />
    </div>
    <div class="hidden md:block mx-auto px-4 max-w-lg">
        <NavBarFull />
    </div>
</nav>
