---
import "../styles/global.css";
import NavBar from "../components/navbar/NavBar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Regis Orate</title>
        <link rel="icon" href="favicon.svg" type="image/x-icon" />
    </head>
    <body class="bg-background-100">
        <NavBar />
        <slot>
            <div class="h-screen flex flex-col justify-center items-center">
                <span class="text-6xl"><code>layouts/MainLayout</code></span>
            </div>
        </slot>
    </body>
</html>
